/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
* {
  font: #ce2627;
  font-family: Poppins, Arial, sans-serif !important;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.logo {
  max-width: 220px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
  align-items: center;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  padding: 5px;
  margin: 5px;
  width: 200px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}
.res-card:hover {
  background-color: #ce2627 !important;
  color: #ffffff;
  border: 1px solid #ce2627;
  cursor: pointer;
}
.res-card:hover .resLink {
  background-color: #ffffff;
  color: #ce2627;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
  border-radius: 10px;
  min-height: 150px;
  max-height: 150px;
}
.res-card h4 {
  margin: 2px;
}
/* RESTAURANT ORDER NOW BTN CSS */
.resLink {
  width: 100%;
  background-color: #ce2627;
  border-radius: 8px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
.resLink:hover,
.resLink:focus {
  background-color: #ffffff;
  color: #ce2627;
  border: 1px solid #ce2627;
}
.res-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
/* FILTER CSS */
.filter {
  margin-top: 20px;
}
/* FILTER BTN CSS */
.filter-btn {
  font-weight: 900;
  background-color: #ffffff;
  color: #ce2627;
  border: 1px solid #ce2627;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: #ce2627;
  color: #ffffff;
  border: 1px solid #ce2627;
}
/* LOADER ANIMATION CSS */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #ce2627; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
/* SHIMMER UI CSS */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  position: relative;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  height: 400px;
  overflow: hidden;
  width: 200px;
  padding: 5px;
  margin: 5px;
}
.shimmer-card .shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}
@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
.shimmer-card .media {
  height: 150px;
}
.shimmer-card .p-32 {
  padding: 10px;
}
.shimmer-card .title-line {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}
.shimmer-card .content-line {
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}
.shimmer-card .end {
  width: 40%;
}
.m-t-24 {
  margin-top: 24px;
}
